<div [ngClass]="['container-fluid']">
    <div [ngClass]="['footer-main','row']">
        <div [ngClass]="['col-sm-4']">              
        </div>

        <div [ngClass]="['content','col-sm-4']"> 
            <h6>Subscribe to our Job Seeker Mailing List</h6>
            <div>
                <input  type="text" name="email" placeholder="Enter Your email Address" >
            </div>
                         
        </div>

        <div [ngClass]="['col-sm-4']">              
        </div>
    </div>

</div>
