/* You can add global styles to this file, and also import other style files */

body{
    margin: 0%;
    padding: 0%;
    font-family:'Arial Narrow';
    color: #646464;
}

.color-white{
    color: white;
}

.btn-style
{
   
   color:white;
   border:none;
   padding: 5px 20px 5px 20px;
   border-radius: 2px;

}

.btn-color1
{
    background-color: #30A2FF;
   
}


.btn-color2
{
    background-color:#ffcc33;
    border-bottom:4px solid #dca450;
}


.btn-color3
{
    background-color:#44c63b;
    border-bottom:4px solid #bed2b4;
}


::placeholder{
    font-style: italic;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
